.select {
  height: 40px;
  font-size: 1rem;
  border: 2px solid #fff;
  color: #fff;
  background: #2b536b;

  cursor: pointer;

}
.select option {
  height: 40px;
  background: #fff;
  color: #2b536b;
  cursor: pointer;
}
